<link rel="stylesheet/less" type="text/css" href="styles.less" />
<script src="https://cdn.jsdelivr.net/npm/less@4" ></script>

 .bootstrap-styles {
  @import (less) url("bootstrap.css");
}

/*para centrar cualquier div*/
.centrado {
  margin: auto;
  width: 60%;
  border: 3px solid #672B60;
  padding: 10px;
}

/* general */
html, body{
	background-color: white;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	/*font-weight: 500;*/
	/*font-weight: bold;*/
}
/*.font-family-base{
	font-family: 'Raleway', sans-serif;
}*/
hr {
    margin-top: 0;
    margin-bottom: 0rem;
    border: 0;
    border-top: 2px solid white;
}
h1 {
	/*background-color: #800000;*/	
	/*color: BLACK; /*BORDÓ MARCOA*/ /*MAROON; /*#800000*/
	font-size: 22px;
	/*padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 0px;*/
	font-weight: bold;
}
h2 {

	/*background-color: DARKRED;*/	
	color: WHITE;
	font-size: 16px;
	/*padding-left: 10px;**/
	/**padding-bottom: 10px;**/
	font-weight: bold;
	/*font-style: italic;*/
	/**border-bottom: 1px solid WHITE;**/
	margin-bottom: 0px;
}

h3{
	color: black;
	font-size: 30px;
	/*padding-left: 10px;**/
	/**padding-bottom: 10px;**/
	font-weight: bold;
	font-family: 'Raleway';
	/**border-bottom: 1px solid WHITE;**/
	margin-bottom: 0px;
}

#implemetacion-box{
	border: 10px dotted black;
  padding: 15px;
  background: lightblue;
  background-clip: border-box;
}
/* *** */


/* cabecera - logo marcoa - barra navegación - modales*/
.barra-superior{
	padding:0;
	padding-bottom: 0px;
}

header{
	line-height: 22px;
	position: relative;

	/*line-with: 10px;*/
	/*border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: grey;*/
}





.navbar{
	background-color: BLACK; 
	display: inline-flex;
  /*float:center;*/

}
li {
  /*display: inline;*/
}

/*
.nav {
  display: inline-block;
 
  float:right;
  white-space: nowrap;
}*/
.link-marcoa{
	/*color: #000000;*/
	color: WHITE;
	font-size: 24px;
}
.link-marcoa:hover{
	color: BLACK; /**DARKRED;**/
	text-decoration:none;
	font-weight: bold;
}
.nav-link{
	/*color: #000000;*/
	color: GREY;
	/*letter-spacing: .1rem;*/
	outline-color: #fff;
	font-size: 14px;
	/*font-weight: bold;*/
	padding: 0;
}
.nav-link:hover{
	color: BLACK; /**DARKRED;**/
	font-weight: bold;
}
.link-barra-superior{
	color: WHITE;
}
/**.tabla_etapas{
	font-size: 14px;
	/**width: 80%;
}**/
/**.pie-modal{
	font-weight: bold;
	color:#800000; 
	font-size:14px;
	border-width: 1px;
	border-style: dotted;	
	border-color: #800000;
}**/

/* *** */


/* pie */
footer{
	/*margin-top: 20px;*/
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: SILVER;
	/*width: 98%;*/
	color: SILVER;
	font-weight: bold;
	font-size: 14px;
	background-color: WHITE;
}
/* *** */


/* botones */

.volver-flecha{
	align-items: top;
	position: absolute;
	left: 5px;
	top: 1px;
	float: left;

}
.volver-flecha-blanca{
	align-items: top;
	position: absolute;
	left: 5px;
	top: 1px;
	float: left;
	filter: invert(100%);

}
.center{
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;


}

#decision-proyectos{
	margin: auto;
  width: 50%;
  padding: 150px 0;

}

#boton-decision{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #9F6976;
  border: none;
  border-radius: 0px;
  box-shadow: 0 9px #999;
}
#boton-decision:hover{background-color: #FF737B}

#boton-decision:active {
  background-color: #FFB77D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#boton-cambiar-decision{
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #9F6976;
  border: none;
  border-radius: 0px;
  box-shadow: 0 9px #999;
}
#boton-decision-decision:hover{background-color: #973166}

#boton-cambiar-decision:active {
  background-color: #DB426C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn{
	background-color: BLACK; /**DARKRED;**/
	border: 2px solid BLACK; /**DARKRED;**/
	font-weight: bold;
	border-radius: 2px;
	display:inline-block;
	/*letter-spacing: .1rem;*/
}
.btn:hover{
	background-color: WHITE !important; 
	border: 2px solid BLACK !important; /**DARKRED;**/ 
    color: BLACK !important; /**DARKRED;**/ 
	box-shadow:none !important;
}
.btn:active:focus{
	box-shadow:0 0 0 2px BLACK !important; /**DARKRED;**/ 
}
.btn-primary{
	font-size: 16px;
	border-radius: 20px;
	padding: 10px 20px;
}
.btn-secondary{
	font-size: 12px;

	padding: 6px 16px;
}

/*.close:active:focus{
	border-color: white !important;
	box-shadow:0 0 0 2px white !important;
}*/
.boton-generar{
	/*font-size: 10px;*/
	padding: 6px 16px;
	background-color: black;
	border: 2px solid black;
	font-size: 11px;
	/*color: DARKRED;*/
	position: right;
}
.btn-outline-secondary{
	border: 2px solid;
	font-weight: bold;
	border-radius: 2px;
	font-size: 10px;
	padding: 2px 12px;
}
.btn-outline-secondary:hover{
	text-decoration:none;
}
.boton-agregar{
	padding: 2px 8px;
	background-color: GREY;
	border: 1px solid GREY;
}
.boton-coherencia{
	border-radius: 200px;
	background-color: MEDIUMSEAGREEN;
	border: 2px solid MEDIUMSEAGREEN;
}
.boton-imp{
	font-size: 10px;
	padding: 1px 8px;
	color: WHITE !important;
	background-color: GREY;
	border-color: GREY;
}
/* *** */


/* formulario */
.form-control{
	border-radius: 2px;
	/*width: 30%;*/
}
.form-control:hover{
	border-color: BLACK; /**#993232;**/
}
.form-control.active{
	border-color: BLACK; /**#993232;**/
}
.form-control:invalid:focus{
	border-color: BLACK; /**#993232;**/
	box-shadow:0 0 0 .2rem rgba(153,50,50,.25);
}
.form-control:active:focus{
	border-color: BLACK; /**#993232;**/
	box-shadow:0 0 0 2px #993232 !important;
}
.cont-formulario{
	width: 90%;
	padding-top: 10px;
	padding-right: 20px;
	padding-right: 20px;
}
/* *** */


/* página bienvenida */
.titulo {
	font-size: 84px;
	margin-top: 140px;
}
.sub-titulo {
	font-size: 24px;
	margin-bottom: 140px;
}
/* *** */



/* content */
.contenido{
	/**min-height: 80vh;**/
	/**margin-top: 20px;**/
	margin-bottom: 60px;
	/**align-items: center;**/
	justify-content: center;
}
.creacion{
	background-color: SILVER;
	width: 30%;
	padding-top: 30px;
	padding-right: 20px;
}
.edicion{
	background-color: SILVER;
	width: 30%;
	padding-top: 30px;
	padding-bottom: 10px;
}
.bloque-prin{
	padding-top: 30px;
}
.bloque-pub{
	padding: 20px;
	/*border: 1px dotted CC8B79;*/
}
.bloque-eva{
	padding: 20px;
	
}
/* *** */
#cabecera-proyecto{
	padding-top: 6px;
	padding-bottom: 10px;
	height: 70px;
	background-color: rgb(248, 247, 248);
}
/* etapas */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.row {
		padding-top: ;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.etapas{
	font-size:12px;
	font-weight: bold;
	padding: 0px;
	/**height: 100px;
	background-color: DARKRED;**/
}
.etapa-gris{
	filter: grayscale(100%) brightness(100%);
}
.e-analisis{
	background-color: 432371;
	border-color: 432371;
	padding: 10px;
	color: WHITE;
	clear:none;  
}

.e-diseño{
	background-color: 714674;
	border-color: 714674;
	padding: 10px;
	color: WHITE;
}
.e-desarrollo{
	background-color: 9F6976;
	border-color: 9F6976;
	padding: 10px;
	color: WHITE;
}
.e-publicacion{
	background-color: CC8B79;
	border-color: CC8B79;
	padding: 10px;
	color: WHITE;
}
.e-evaluacion{
	background-color: FAAE7B;
	border-color: FAAE7B;
	padding: 10px;
	color: WHITE;
}
.e-coherencia{
	background-color: MEDIUMSEAGREEN; 
	border-color: MEDIUMSEAGREEN;
	padding: 10px;
	width: 100%;
}
.e-coherencia-gris{
	background-color: rgb(217,217,221); 
	border-color: rgb(217,217,221);
	padding: 10px;
	width: 100%;
}
#analisis-coherencia{
	font-size:16px;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 0px;
	font-family:'Raleway', sans-serif;

}
#analisis-coherencia-sub{
	font-size:11px;
	font-weight: bold;
	padding: 0px;
		margin-bottom: 0px;

	font-family:'Raleway', sans-serif;
}
.config{
	padding: 10px;
}
/* *** */

/* pestañas de etapa de diseño */
.tab-content{
	width: 85%;
}
.pestaña{
	padding: 10px;
	color: BLACK; /**DARKRED;**/
}
.pestaña:hover{
	color: BLACK; /**DARKRED;**/
	font-weight: bold;
}
.pestaña-pequeña{
	padding: 8px;
	font-size: 12px;
}
.table{
	font-size: 12px;
}
/* *** */

/*guía del análisis de coherecia */
.preg-guia{
	padding-top: 14px;
	border-bottom: 1px dotted SILVER; 
}
/* *** */

/*configuración */
.bloque-config{
	margin-left: 20px;
	border: 1px dotted SILVER;
	padding-top: 10px;
}
/* *** */

/* enlaces de ayuda */
.a-croa{
	color: MEDIUMORCHID; /*VIOLETA SUGERENCIA CROA*/
}
.a-croa-modal{
	border-bottom: 2px solid MEDIUMORCHID;
}
.a-marcoa{
	color: MEDIUMTURQUOISE; /*AZUL AYUDA MARCOA*/
}
.a-marcoa-modal{
	border-bottom: 2px solid MEDIUMTURQUOISE;
}
/* *** */

/* etapa de desarrollo */
.bloque-imp{
	border: 1px dotted SILVER;
}
.bloque-nodo{
	border: 1px dotted SILVER;
	display: none;
}
.bloque-meta{
	border: 1px dotted SILVER;
}
/* *** */


/*Dividir la pantalla de bienvenida en 2*/

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  /*top: 0;*/
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



/*El Grid de bienvenida para iniciar sesion*/
.grid-container {
  display: grid;
  grid-template-columns: 500px auto ;
  background-color: lightgrey;
  padding: 0px;
  grid-column-gap: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 20px;
  /*text-align: center;*/
	vertical-align: middle;
}

.btn-group{
	margin: 10px 0 10px 0;

}

#titulo-decision{
	text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}
#titulo-cambiar-decision{
	text-align: right;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
}

/*TABLAS*/

.table-wrapper{
    display: fixed;
    justify-content: center;
    align-items: center;
}
.table-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;

}

#thead-generico th:nth-child(1) {
  width: 20%;
}

#thead-generico th:nth-child(2) {
  width: 20%;
}

#thead-generico th:nth-child(3) {
  width: 20%;
}

#thead-generico th:nth-child(4) {
  width: 50%;
}

th, td {
  padding: 15px;
}

#thead-generico th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  text-align: center;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

