.analisis-container {
  width:100%;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.analisis-image {
  width: 2551px;
  height: auto;
  object-fit: auto;
}
.analisis-analisis {
  width: 2251px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  height: auto;
  display: flex;
  object-fit: auto;
}
.analisis-text {
  width: 90%;
  font-size: 50px;
  font-family: 'Raleway';
  margin-bottom: 50px;
}

.analisis-titulo{
  
  font-size: 55px;
  align-self: stretch;
  font-family: 'Raleway';
  font-weight: 500;
  
}
.centrado {
  margin: 10px;
  width: 80%;
  padding-top: 50px;

}

table, td, th {
  border: 2px solid;
   padding: 0px;
  text-align: center;
}

table {
  width: 90%;
}
hr {
  height: 4px;
  background-color: black;

}
font-family: 'Raleway', sans-serif;


